node_modules
dist
coverage

# Logs
logs
*.log
npm-debug.log*

# OS and build artifacts
.DS_Store
thumbs.db

# Editor directories and files
.vscode
.idea
.project
.classpath
.cproject
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# NestJS specific
*.tsbuildinfo